
DataSetName=COSMOS
DataSetVersion=2006

FileName=/Users/binko/Euclid/sw/Alexandria/ChDataHandling/tests/PhotometryData/Cosmos/cosmos_IB_band_2008_2.tbl_30_lines  # Comment

# Or :
#FileName=cosmos_IB_band_2008_1.tbl_30_lines  # Comment





# Other parameters ;

# InputFiles=path/*
# InputFiles=path/filename1
# InputFiles=path/filename2
# InputFiles=path/general_regular_expression

# RowRange=1-100
# RowRange=211
# RowRange=1000-2000
